.chat {
  height: 600px;
  margin: 25px 0;
}

.chat__container {
  background-color: #f5f5f5;
  height: 100%;
  /* overflow-y: auto; */
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 0;
}

.chat__content {
  height: 100%;
}
