.chatHeader {
  padding: 10px 20px;
}

.chatHeader .fa {
  margin-right: 5px;
}


.chatHeader__title {
  margin-bottom: 0;
}

.chatHeader__participants {
  margin-left: 20px;
}

.chatHeader__count {
  margin-left: 20px;

}

.chatHeader__last {
  flex-grow: 1;
  text-align: right;
}